<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 
	xmlns="http://www.springframework.org/schema/security"
  	xmlns:beans="http://www.springframework.org/schema/beans"
  	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true" disable-url-rewriting="true">
		<intercept-url pattern="/auth/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/**" access="ROLE_USER, ROLE_ADMIN" />
		<form-login login-page="/auth/login" />
		<logout logout-success-url="/auth/login" />
	</http>
	 
	 <!-- SKIP UNTIL LATER
	 <beans:bean id="userDAO" class="com.ews.response.dao.UserLoginDAOImpl">
	 	<beans:property name="sessionFactory" ref="sessionFactory"></beans:property>
	 </beans:bean>
	 
	 <beans:bean id="userService" class="com.ews.response.userdetailservice.UserLoginService">
	 	<beans:property name="userDAO" ref="userDAO"></beans:property>
	 </beans:bean>
	 -->
	 
	 <authentication-manager alias="authenticationManager">
	 	<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="user" password="user" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
		<!-- SKIP UNTIL LATER 
	 	<authentication-provider user-service-ref="userService">
	 		<password-encoder hash="md5"/>
	 	</authentication-provider>
	 	<authentication-provider ref="preAuthProvider">
	 	</authentication-provider>
	 	 -->
	 </authentication-manager>

</beans:beans>